$theme-base: #0d2436;
$color_1: #87b1c9;
$color_2: #0094b5;
$color_3: #267dbd;
$color_4: #f8f9fa;
$color_5: #4a5b6926;
$color_6: #267dbd;
$color_black: #000000;
$light-theme: #0067a33b;

/*
Many other values should be parameterized as well
like width, height and borders.
Also we might leverage em/rem values instead of pixel values
 */

html, body, #root,
.root-elm{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

body, body *{
    color: $color_1;
    box-sizing: border-box;
}
.anchor-text{
    color: $color_2;
}
body {
    background-color: $theme-base;
}
button, input{
    box-shadow: none!important;
    background: none;
}

.root-elm form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    label{
        font-size: 10px;
        margin: 0;
    }
}
.bg-light  {
    background-color: $color_4!important;
    color: $color_1!important;
    height: 60px;
}
.bg-light, .bg-light *  {
    color: $color_1!important;
}
.btn{
    cursor: pointer;
}

.btn.border-less{
    border-width: 0;
    background: transparent;
    padding: 0;
    text-align: right;
}

.bane-home{
    display: flex;
    height: 100%;
    >*{
        flex: 1;
        display: flex;
    }
}
.flex-menu{
    display: flex;
    padding: 0!important;
    >*{
        border-width: 0;
        flex: 1;
        margin: 0;
    }
    a{
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    button{
        width: 10px;
        padding: 0;
    }
}

.bane-select{
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 5px solid $color_5;
    position: relative;
    .bane-no-bg, .bane-no-bg>*{
        background: transparent!important;
        color: $color_1;
        border-left-width: 0!important;
    }
    ul.bane-no-bg>*>*:hover, ul.bane-no-bg>*>*:active{
        background: $color_1;
        color: $color_black;
    }
    ul.bane-no-bg>*>button{
        width: 50px;
        flex: none;
        cursor: pointer;
    }
    .btn{
        border-radius: 0;
        border-width: 0 0 1px 1px;
        font-size: 2rem;
        padding: 0 10px 3px 10px;
    }
    .btn:hover, .btn:active{
        background: $color_1;
        color: $color_black;
    }
    >div{
        margin: 10%;
        align-self: center;
        width: 300px;
        >*{
            display: flex;
            flex-direction: column;
        }
        >*{
            flex-direction: row;
        }
        >ul{
            width: 260px;
            flex-direction: column;
            padding: 0;
            flex: 1;
            overflow: auto;
            margin: 0;
            .btn{
                background: transparent;
                color: $color_1;
                border-width: 0;
            }
            a{
                text-decoration: none;
                color: $color_1;
            }
            li.dropdown-city-list {
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
        }
        >ul.bane-city-list {
            width: 300px;
        }
    }
    > button {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        border-width: 0 0 1px 0;
        border-radius: 0;
        outline: none;
        border-color: $light-theme;
        display: none;
        > span {
            cursor: pointer;
            color: $color_1;
        }
    }
}

.bane-weather-p{
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 30px;
    color: $color_6!important;
    .small{
        font-size: 14px;
    }
    .very-small{
        font-size: 14px;
    }
    .bane-weather{
        display: flex;
        margin: auto;
        img{
            height: 80px;
        }
        >*{
            text-align: center;
            align-items: center;
            width: 200px;
        }
        >div{
            display: flex;
            flex: 1;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            max-height: 150px;
            margin: auto;
        }
        >div:last-of-type{
            >*{
                display: flex;
                flex: 1;
                align-items: center;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

.bane-top-header{
    height: 60px;
    background: $color_1;
    display: flex;
}
.bane-top-header>*{
    flex: 1;
    display: flex;
    height: 100%;
}
.bane-top-header>*:last-of-type {
    flex-direction: row-reverse;
}
.bane-top-header>*>*{
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    text-decoration: none!important;
}
.bane-top-header>*>*:hover{
    color: $color_1;
    background: $theme-base;
}
.bane-top-header *{
    color: $theme-base;

}

@media (max-width: 768px) {
    .bane-select{
        > button {
            display: block;
        }
    }
}

@media (max-width: 550px) {
    .bane-weather-p {
        .bane-weather {
            flex-direction: column;
        }
    }
    .bane-more-text{
        font-size: 20px!important;
    }
    .bane-weather-p{
        .bane-weather {
            > div {
                margin: 50px auto;
            }
            .bane-weather-name{
                overflow: visible;
            }
        }
    }
 }
